.markdown h1 {
  font-size: x-large;
  margin-top: 24px;
  margin-bottom: 16px;
}

.markdown h2 {
  font-size: large;
  margin-top: 24px;
  margin-bottom: 16px;
}

.markdown h1,
.markdown h2 {
  font-weight: 700;
}

.markdown p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown a {
  text-decoration: underline;
}
